{
  "plugins": ["prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": ["*.ts", "*.tsx", "*.scss", "*.json"],
      "options": {
        "tabWidth": 4,
        "useTabs": true
      }
    }
  ]
}
